In [1]:
import pandas as pd

# Use 3 decimal places in output display
pd.set_option("display.precision", 3)

# Don't wrap repr(DataFrame) across additional lines
pd.set_option("display.expand_frame_repr", False)

# Set max rows displayed in output to 25
pd.set_option("display.max_rows", 25)

## Example 1: U.S. Congress Dataset

The dataset contains members’ first and last names, birth date, gender, type ("rep" for House of Representatives or "sen" for Senate), U.S. state, and political party. You can use df.tail() to vie the last few rows of the dataset:

In [4]:
dtypes = {
    "first_name": "category",
    "gender": "category",
    "type": "category",
    "state": "category",
    "party": "category",
}

In [5]:
df = pd.read_csv(
    "groupby-data/legislators-historical.csv",
    dtype=dtypes,
    usecols=list(dtypes) + ["birthday", "last_name"],
    parse_dates=["birthday"],
)

In [7]:
df.tail()

      last_name first_name   birthday gender type state       party
11970   Garrett     Thomas 1972-03-27      M  rep    VA  Republican
11971    Handel      Karen 1962-04-18      F  rep    GA  Republican
11972     Jones     Brenda 1959-10-24      F  rep    MI    Democrat
11973    Marino        Tom 1952-08-15      M  rep    PA  Republican
11974     Jones     Walter 1943-02-10      M  rep    NC  Republican

In [8]:
df.dtypes

last_name             object
first_name          category
birthday      datetime64[ns]
gender              category
type                category
state               category
party               category
dtype: object

In [32]:
n_by_state = df.groupby("state", sort=False)["last_name"].count()

In [33]:
n_by_state

state
DE      97
VA     432
SC     251
MD     305
PA    1053
      ...
AK      16
PI      13
VI       4
GU       4
AS       2
Name: last_name, Length: 58, dtype: int64

In [18]:
n_by_state.sort_values(ascending=False)

state
NY    1461
PA    1053
OH     674
IL     486
VA     432
      ...
GU       4
VI       4
DC       2
OL       2
AS       2
Name: last_name, Length: 58, dtype: int64

You can pass a lot more than just a single column name to .groupby() as the first argument. You can also specify any of the following:

* A list of multiple column names
* A dict or Pandas Series
* A NumPy array or Pandas Index, or an array-like iterable of these

In [21]:
n_by_state_gender = df.groupby(["state", "gender"])["last_name"].count()
type(n_by_state_gender)

pandas.core.series.Series

In [22]:
n_by_state_gender.index[:5]

MultiIndex([('AK', 'M'),
            ('AL', 'F'),
            ('AL', 'M'),
            ('AR', 'F'),
            ('AR', 'M')],
           names=['state', 'gender'])

In [23]:
n_by_state_gender

state  gender
AK     M          16
AL     F           3
       M         203
AR     F           5
       M         112
                ...
WI     M         196
WV     F           1
       M         119
WY     F           2
       M          38
Name: last_name, Length: 104, dtype: int64

In [24]:
df.groupby(["state", "gender"], as_index=False)["last_name"].count()

    state gender  last_name
0      AK      F        NaN
1      AK      M       16.0
2      AL      F        3.0
3      AL      M      203.0
4      AR      F        5.0
..    ...    ...        ...
111    WI      M      196.0
112    WV      F        1.0
113    WV      M      119.0
114    WY      F        2.0
115    WY      M       38.0

[116 rows x 3 columns]

In [31]:
df.groupby("state", sort=False)["last_name"].count()

state
DE      97
VA     432
SC     251
MD     305
PA    1053
      ...
AK      16
PI      13
VI       4
GU       4
AS       2
Name: last_name, Length: 58, dtype: int64

What is that DataFrameGroupBy thing? Its .__str__() doesn’t give you much information into what it actually is or how it works. The reason that a DataFrameGroupBy object can be difficult to wrap your head around is that it’s lazy in nature. It doesn’t really do any operations to produce a useful result until you say so.

One term that’s frequently used alongside .groupby() is split-apply-combine. This refers to a chain of three steps:

* Split a table into groups
* Apply some operations to each of those smaller tables
* Combine the results

It can be difficult to inspect df.groupby("state") because it does virtually none of these things until you do something with the resulting object. Again, a Pandas GroupBy object is lazy. It delays virtually every part of the split-apply-combine process until you invoke a method on it.

So, how can you mentally separate the split, apply, and combine stages if you can’t see any of them happening in isolation? One useful way to inspect a Pandas GroupBy object and see the splitting in action is to iterate over it. This is implemented in DataFrameGroupBy.__iter__() and produces an iterator of (group, DataFrame) pairs for DataFrames:

In [35]:
by_state = df.groupby("state")

In [38]:
for state, frame in by_state:
    print(f"First 2 entries for {state!r}")
    print("------------------------")
    print(frame.head(2), end="\n\n")

First 2 entries for 'AK'
------------------------
     last_name first_name   birthday gender type state        party
6619    Waskey      Frank 1875-04-20      M  rep    AK     Democrat
6647      Cale     Thomas 1848-09-17      M  rep    AK  Independent

First 2 entries for 'AL'
------------------------
    last_name first_name   birthday gender type state       party
912   Crowell       John 1780-09-18      M  rep    AL  Republican
991    Walker       John 1783-08-12      M  sen    AL  Republican

First 2 entries for 'AR'
------------------------
     last_name first_name   birthday gender type state party
1001     Bates      James 1788-08-25      M  rep    AR   NaN
1279    Conway      Henry 1793-03-18      M  rep    AR   NaN

First 2 entries for 'AS'
------------------------
          last_name first_name   birthday gender type state     party
10797         Sunia       Fofó 1937-03-13      M  rep    AS  Democrat
11755  Faleomavaega        Eni 1943-08-15      M  rep    AS  Democrat

First 2 entries for 'AZ'
------------------------
     last_name first_name   birthday gender type state       party
3674    Poston    Charles 1825-04-20      M  rep    AZ  Republican
3725   Goodwin       John 1824-10-18      M  rep    AZ  Republican

First 2 entries for 'CA'
------------------------
     last_name first_name   birthday gender type state        party
2650   Gilbert     Edward        NaT      M  rep    CA     Democrat
2742    Wright     George 1816-06-04      M  rep    CA  Independent

First 2 entries for 'CO'
------------------------
     last_name first_name   birthday gender type state                    party
3614    Bennet      Hiram 1826-09-02      M  rep    CO  Conservative Republican
3933  Bradford      Allen 1815-07-23      M  rep    CO               Republican

First 2 entries for 'CT'
------------------------
     last_name first_name   birthday gender type state               party
14  Huntington   Benjamin 1736-04-19      M  rep    CT                 NaN
16     Johnson    William 1727-10-07      M  sen    CT  Pro-Administration

First 2 entries for 'DC'
------------------------
      last_name first_name   birthday gender type state       party
4232    Chipman     Norton 1834-03-07      M  rep    DC  Republican
10821  Fauntroy     Walter 1933-02-06      M  rep    DC    Democrat

First 2 entries for 'DE'
------------------------
   last_name first_name   birthday gender type state                party
0    Bassett    Richard 1745-04-02      M  sen    DE  Anti-Administration
40      Read     George 1733-09-18      M  sen    DE                  NaN

First 2 entries for 'DK'
------------------------
     last_name first_name   birthday gender type state     party
3642     Jayne    William 1826-10-08      M  rep    DK       NaN
3687      Todd       John 1814-04-04      M  rep    DK  Democrat

First 2 entries for 'FL'
------------------------
      last_name first_name   birthday gender type state party
1031  Hernández     Joseph 1788-05-26      M  rep    FL   NaN
1090       Call    Richard 1792-10-24      M  rep    FL   NaN

First 2 entries for 'GA'
------------------------
   last_name first_name   birthday gender type state                party
8        Few    William 1748-06-08      M  sen    GA  Anti-Administration
20   Mathews     George 1739-08-30      M  rep    GA                  NaN

First 2 entries for 'GU'
------------------------
      last_name first_name   birthday gender type state       party
10704   Won Pat    Antonio 1908-12-10      M  rep    GU    Democrat
10874      Blaz        Ben 1928-02-14      M  rep    GU  Republican

First 2 entries for 'HI'
------------------------
     last_name first_name   birthday gender type state       party
6395    Wilcox     Robert 1855-02-15      M  rep    HI         NaN
7524   Baldwin      Henry 1871-01-12      M  rep    HI  Republican

First 2 entries for 'IA'
------------------------
     last_name first_name   birthday gender type state     party
1931   Chapman    William 1808-08-11      M  rep    IA  Democrat
2391  Hastings   Serranus 1813-11-22      M  rep    IA  Democrat

First 2 entries for 'ID'
------------------------
     last_name first_name   birthday gender type state       party
3693   Wallace    William 1811-07-19      M  rep    ID  Republican
3846  Holbrook     Edward 1836-05-06      M  rep    ID    Democrat

First 2 entries for 'IL'
------------------------
      last_name first_name   birthday gender type state party
595        Bond   Shadrack 1773-11-24      M  rep    IL   NaN
772  Stephenson   Benjamin        NaT      M  rep    IL   NaN

First 2 entries for 'IN'
------------------------
    last_name first_name   birthday gender type state       party
431     Parke   Benjamin 1777-09-22      M  rep    IN         NaN
985    Taylor     Waller        NaT      M  sen    IN  Republican

First 2 entries for 'KS'
------------------------
      last_name first_name   birthday gender type state       party
3163  Whitfield       John 1818-03-11      M  rep    KS    Democrat
3422    Parrott     Marcus 1828-10-27      M  rep    KS  Republican

First 2 entries for 'KY'
------------------------
    last_name   first_name birthday gender type state                party
55    Edwards         John      NaT      M  sen    KY  Anti-Administration
113   Greenup  Christopher      NaT      M  rep    KY           Republican

First 2 entries for 'LA'
------------------------
     last_name first_name birthday gender type state       party
584  Destréhan       Jean      NaT      M  sen    LA     Unknown
585   Magruder      Allan      NaT      M  sen    LA  Republican

First 2 entries for 'MA'
------------------------
   last_name first_name   birthday gender type state               party
6     Dalton   Tristram 1738-05-28      M  sen    MA  Pro-Administration
12     Grout   Jonathan 1737-07-23      M  rep    MA                 NaN

First 2 entries for 'MD'
------------------------
  last_name first_name   birthday gender type state party
3   Carroll     Daniel 1730-07-22      M  rep    MD   NaN
5    Contee   Benjamin        NaT      M  rep    MD   NaN

First 2 entries for 'ME'
------------------------
     last_name first_name   birthday gender type state       party
1019      Dane     Joseph 1778-10-25      M  rep    ME  Federalist
1029    Harris       Mark 1779-01-27      M  rep    ME  Republican

First 2 entries for 'MI'
------------------------
     last_name first_name   birthday gender type state party
1062    Sibley    Solomon 1769-10-07      M  rep    MI   NaN
1133   Richard    Gabriel 1767-10-15      M  rep    MI   NaN

First 2 entries for 'MN'
------------------------
      last_name first_name   birthday gender type state     party
2866     Sibley      Henry 1811-02-20      M  rep    MN       NaN
3241  Kingsbury    William 1828-06-04      M  rep    MN  Democrat

First 2 entries for 'MO'
------------------------
     last_name first_name   birthday gender type state party
627  Hempstead     Edward 1780-06-03      M  rep    MO   NaN
712     Easton      Rufus 1774-05-04      M  rep    MO   NaN

First 2 entries for 'MS'
------------------------
    last_name  first_name   birthday gender type state party
256    Greene      Thomas 1758-02-26      M  rep    MS   NaN
260    Hunter  Narsworthy        NaT      M  rep    MS   NaN

First 2 entries for 'MT'
------------------------
      last_name first_name   birthday gender type state     party
3756     McLean     Samuel 1826-08-07      M  rep    MT  Democrat
3941  Cavanaugh      James 1823-07-04      M  rep    MT  Democrat

First 2 entries for 'NC'
------------------------
   last_name first_name   birthday gender type state               party
13   Hawkins   Benjamin 1754-08-15      M  sen    NC  Pro-Administration
17  Johnston     Samuel 1733-12-15      M  sen    NC  Pro-Administration

First 2 entries for 'ND'
------------------------
     last_name first_name   birthday gender type state       party
5384     Casey      Lyman 1837-05-06      M  sen    ND  Republican
5479    Pierce    Gilbert 1839-01-11      M  sen    ND  Republican

First 2 entries for 'NE'
------------------------
     last_name first_name   birthday gender type state     party
2954  Giddings   Napoleon 1816-01-02      M  rep    NE  Democrat
3068   Chapman       Bird 1821-08-24      M  rep    NE  Democrat

First 2 entries for 'NH'
------------------------
    last_name first_name   birthday gender type state       party
99    Wingate      Paine 1739-05-14      M  rep    NH         NaN
120   Langdon       John 1741-06-26      M  sen    NH  Republican

First 2 entries for 'NJ'
------------------------
   last_name first_name   birthday gender type state               party
7      Elmer   Jonathan 1745-11-29      M  sen    NJ  Pro-Administration
23  Paterson    William 1745-12-24      M  sen    NJ  Pro-Administration

First 2 entries for 'NM'
------------------------
      last_name first_name   birthday gender type state     party
2885  Weightman    Richard 1816-12-28      M  rep    NM  Democrat
3420      Otero     Miguel 1829-06-21      M  rep    NM       NaN

First 2 entries for 'NV'
------------------------
        last_name first_name   birthday gender type state       party
3510  Cradlebaugh       John 1819-02-22      M  rep    NV         NaN
3664         Mott     Gordon 1812-10-21      M  rep    NV  Republican

First 2 entries for 'NY'
------------------------
         last_name first_name   birthday gender type state party
9            Floyd    William 1734-12-17      M  rep    NY   NaN
26  Van Rensselaer   Jeremiah 1738-08-27      M  rep    NY   NaN

First 2 entries for 'OH'
------------------------
    last_name first_name   birthday gender type state       party
226  McMillan    William 1764-03-02      M  rep    OH         NaN
254   Fearing       Paul 1762-02-28      M  rep    OH  Federalist

First 2 entries for 'OK'
------------------------
     last_name first_name   birthday gender type state        party
5601    Harvey      David 1845-03-20      M  rep    OK   Republican
6060  Callahan      James 1852-12-19      M  rep    OK  Free Silver

First 2 entries for 'OL'
------------------------
    last_name first_name   birthday gender type state party
404     Clark     Daniel        NaT      M  rep    OL   NaN
503   Poydras     Julien 1740-04-03      M  rep    OL   NaN

First 2 entries for 'OR'
------------------------
     last_name first_name   birthday gender type state     party
2728  Thurston     Samuel 1816-04-15      M  rep    OR  Democrat
3398      Lane     Joseph 1801-12-14      M  sen    OR  Democrat

First 2 entries for 'PA'
------------------------
   last_name first_name   birthday gender type state                party
4     Clymer     George 1739-03-16      M  rep    PA                  NaN

19    Maclay    William 1737-07-20      M  sen    PA  Anti-Administration

First 2 entries for 'PI'
------------------------
             last_name first_name   birthday gender type state party
6835            Ocampo      Pablo 1853-01-25      M  rep    PI   NaN
6939  Legarda Y Tuason     Benito 1853-09-27      M  rep    PI   NaN

First 2 entries for 'PR'
------------------------
      last_name first_name   birthday gender type state       party
6426    Degetau   Federico 1862-12-05      M  rep    PR  Republican
6811  Larrinaga      Tulio 1847-01-15      M  rep    PR    Unionist

First 2 entries for 'RI'
------------------------
    last_name first_name   birthday gender type state       party
61   Bradford    William 1729-11-04      M  sen    RI  Federalist
105    Bourne   Benjamin 1755-09-09      M  rep    RI  Federalist

First 2 entries for 'SC'
------------------------
   last_name first_name   birthday gender type state               party
2      Burke    Aedanus 1743-06-16      M  rep    SC                 NaN
15     Izard      Ralph        NaT      M  sen    SC  Pro-Administration

First 2 entries for 'SD'
------------------------
     last_name first_name   birthday gender type state       party
5423   Gifford      Oscar 1842-10-20      M  rep    SD  Republican
5462     Moody     Gideon 1832-10-16      M  sen    SD  Republican

First 2 entries for 'TN'
------------------------
    last_name first_name   birthday gender type state       party
141     White      James 1749-06-16      M  rep    TN         NaN
142    Blount    William 1749-03-26      M  sen    TN  Republican

First 2 entries for 'TX'
------------------------
     last_name first_name   birthday gender type state     party
2568  Pilsbury    Timothy 1789-04-12      M  rep    TX  Democrat
2671   Kaufman      David 1813-12-18      M  rep    TX  Democrat

First 2 entries for 'UT'
------------------------
      last_name first_name   birthday gender type state     party
3484  Bernhisel       John 1799-07-23      M  rep    UT      Whig
3647     Kinney       John 1816-04-02      M  rep    UT  Democrat

First 2 entries for 'VA'
------------------------
   last_name  first_name   birthday gender type state                party
1      Bland  Theodorick 1742-03-21      M  rep    VA                  NaN
11   Grayson     William        NaT      M  sen    VA  Anti-Administration

First 2 entries for 'VI'
------------------------
      last_name first_name   birthday gender type state       party
10496     Evans     Melvin 1917-08-07      M  rep    VI  Republican
11088   de Lugo        Ron 1930-08-02      M  rep    VI    Democrat

First 2 entries for 'VT'
------------------------
   last_name first_name   birthday gender type state                party
41  Robinson      Moses 1741-03-22      M  sen    VT  Anti-Administration
86     Niles  Nathaniel 1741-04-03      M  rep    VT                  NaN

First 2 entries for 'WA'
------------------------
      last_name first_name   birthday gender type state     party
2979  Lancaster   Columbia 1803-08-26      M  rep    WA  Democrat
3052   Anderson      James 1822-02-16      M  rep    WA  Democrat

First 2 entries for 'WI'
------------------------
     last_name first_name   birthday gender type state     party
2410    Martin     Morgan 1805-03-31      M  rep    WI  Democrat
2503   Darling      Mason 1801-05-18      M  rep    WI  Democrat

First 2 entries for 'WV'
------------------------
       last_name first_name   birthday gender type state                   party
3615       Blair      Jacob 1821-04-11      M  rep    WV  Unconditional Unionist
3690  Van Winkle      Peter 1808-09-07      M  sen    WV              Republican

First 2 entries for 'WY'
------------------------
     last_name first_name   birthday gender type state       party
4009  Nuckolls    Stephen 1825-08-16      M  rep    WY    Democrat
4138     Jones    William 1842-02-20      M  rep    WY  Republican

In [40]:
by_state.groups

{'AK': Int64Index([ 6619,  6647,  7442,  7501,  8039,  8236,  8877,  9819,  9951,
              9985, 10082, 10108, 10325, 11262, 11386, 11734],
            dtype='int64'),
 'AL': Int64Index([  912,   991,  1079,  1180,  1252,  1307,  1320,  1360,  1533,
              1621,
             ...
             11321, 11463, 11473, 11536, 11545, 11557, 11725, 11745, 11861,
             11870],
            dtype='int64', length=206),
 'AR': Int64Index([ 1001,  1279,  2096,  2254,  2318,  2421,  2466,  2472,  2598,
              3103,
             ...
             11156, 11188, 11239, 11307, 11429, 11531, 11602, 11704, 11741,
             11758],
            dtype='int64', length=117),
 'AS': Int64Index([10797, 11755], dtype='int64'),
 'AZ': Int64Index([ 3674,  3725,  3801,  4657,  4700,  5044,  5110,  5986,  6505,
              7244,  7541,  8103,  8386,  8431,  9132,  9163,  9355,  9441,
              9775,  9821,  9959, 10132, 10315, 10374, 10603, 10636, 10682,
             10744, 10817, 10966, 10987, 11010, 11017, 11335, 11418, 11427,
             11512, 11583, 11600, 11626, 11699, 11773, 11784, 11849, 11868,
             11878, 11881, 11900],
            dtype='int64'),
 'CA': Int64Index([ 2650,  2742,  2747,  2830,  2832,  2901,  3078,  3096,  3184,
              3221,
             ...
             11830, 11846, 11860, 11896, 11909, 11923, 11929, 11938, 11949,
             11950],
            dtype='int64', length=361),
 'CO': Int64Index([ 3614,  3933,  4546,  4737,  4950,  4955,  4957,  5081,  5336,
              5665,  5827,  6033,  6281,  6360,  6494,  6521,  6560,  6634,
              6652,  6674,  6677,  6798,  6975,  7069,  7121,  7122,  7255,
              7322,  7330,  7623,  7769,  7808,  7915,  7919,  7922,  8091,
              8107,  8135,  8226,  8249,  8250,  8627,  8638,  8647,  8685,
              8842,  8907,  8991,  9188,  9245,  9259,  9352,  9540,  9567,
              9659,  9802,  9941,  9982, 10051, 10087, 10105, 10160, 10199,
             10239, 10413, 10511, 10608, 10676, 10708, 10732, 10748, 10802,
             10878, 11152, 11207, 11209, 11230, 11329, 11344, 11377, 11392,
             11419, 11442, 11504, 11517, 11575, 11597, 11743, 11893, 11920],
            dtype='int64'),
 'CT': Int64Index([   14,    16,    35,    45,    49,    77,    83,    94,   138,
               140,
             ...
             11115, 11191, 11247, 11313, 11406, 11424, 11446, 11516, 11643,
             11939],
            dtype='int64', length=240),
 'DC': Int64Index([4232, 10821], dtype='int64'),
 'DE': Int64Index([    0,    40,    93,   129,   165,   189,   333,   401,   527,
               664,   706,   730,   930,  1081,  1153,  1253,  1308,  1324,
              1403,  1634,  1861,  2008,  2049,  2076,  2311,  2581,  2666,
              2735,  2927,  3073,  3170,  3176,  3466,  3527,  3680,  3686,
              3702,  3769,  3802,  3869,  4078,  4293,  4677,  4807,  4880,
              5068,  5175,  5429,  5475,  5722,  5765,  6030,  6084,  6102,
              6223,  6224,  6401,  6449,  6645,  6717,  6924,  6998,  7018,
              7120,  7218,  7352,  7383,  7400,  7605,  7672,  7678,  7837,
              8137,  8146,  8252,  8476,  8479,  8497,  8556,  8719,  8847,
              8861,  8956,  9069,  9457,  9494,  9563,  9939,  9978,  9986,
             10387, 10596, 11151, 11532, 11542, 11618, 11816],
            dtype='int64'),
 'DK': Int64Index([3642, 3687, 3809, 4033, 4215, 4618, 4693, 5059, 5451], dtype='int64'),
 'FL': Int64Index([ 1031,  1090,  1781,  1948,  2351,  2459,  2693,  2772,  3115,
              3168,
             ...
             11851, 11852, 11853, 11856, 11879, 11886, 11925, 11926, 11928,
             11951],
            dtype='int64', length=155),
 'GA': Int64Index([    8,    20,    51,    54,    63,   101,   114,   147,   219,
               262,
             ...
             11574, 11576, 11735, 11746, 11749, 11757, 11762, 11848, 11862,
             11971],
            dtype='int64', length=309),
 'GU': Int64Index([10704, 10874, 11338, 11890], dtype='int64'),
 'HI': Int64Index([ 6395,  7524,  7591,  7791,  8147,  8333,  8789,  9412,  9490,
              9632,  9664,  9815, 10133, 10725, 10836, 10848, 11317, 11525,
             11622, 11637, 11638, 11802, 11963],
            dtype='int64'),
 'IA': Int64Index([ 1931,  2391,  2599,  2678,  2688,  2726,  2779,  2928,  2961,
              2973,
             ...
             11132, 11298, 11428, 11434, 11664, 11737, 11748, 11763, 11952,
             11953],
            dtype='int64', length=202),
 'ID': Int64Index([ 3693,  3846,  4027,  4155,  4406,  4587,  4801,  5072,  5151,
              5535,  5854,  6009,  6082,  6087,  6272,  6306,  6317,  6790,
              6792,  7002,  7168,  7214,  7393,  7874,  8119,  8210,  8286,
              8353,  8507,  8643,  8946,  8992,  9063,  9127,  9266,  9278,
              9290,  9384,  9388,  9631,  9716,  9755,  9820,  9977, 10003,
             10237, 10313, 10670, 10737, 10800, 10983, 11038, 11043, 11233,
             11354, 11436, 11514, 11582, 11912],
            dtype='int64'),
 'IL': Int64Index([  595,   772,   861,   890,  1146,  1182,  1414,  1451,  1518,
              1593,
             ...
             11692, 11706, 11714, 11789, 11798, 11808, 11854, 11905, 11908,
             11927],
            dtype='int64', length=486),
 'IN': Int64Index([  431,   985,  1089,  1130,  1269,  1316,  1402,  1441,  1501,
              1502,
             ...
             11562, 11604, 11644, 11666, 11697, 11807, 11847, 11897, 11924,
             11940],
            dtype='int64', length=341),
 'KS': Int64Index([ 3163,  3422,  3506,  3697,  3750,  3795,  3882,  3944,  4090,
              4238,
             ...
             11213, 11399, 11440, 11458, 11585, 11612, 11831, 11859, 11910,
             11936],
            dtype='int64', length=141),
 'KY': Int64Index([   55,   113,   123,   126,   196,   248,   251,   342,   356,
               376,
             ...
             11163, 11170, 11361, 11373, 11400, 11433, 11497, 11625, 11669,
             11801],
            dtype='int64', length=373),
 'LA': Int64Index([  584,   585,   586,   620,   814,   864,   901,   906,  1166,
              1270,
             ...
             11524, 11540, 11581, 11688, 11726, 11739, 11792, 11811, 11813,
             11823],
            dtype='int64', length=197),
 'MA': Int64Index([    6,    12,    22,    33,    36,    60,    65,    66,    75,
                89,
             ...
             11548, 11621, 11648, 11676, 11695, 11722, 11724, 11781, 11892,
             11934],
            dtype='int64', length=426),
 'MD': Int64Index([    3,     5,    10,    24,    25,    34,    39,    43,    44,
                48,
             ...
             11296, 11319, 11326, 11478, 11523, 11573, 11655, 11809, 11818,
             11941],
            dtype='int64', length=305),
 'ME': Int64Index([ 1019,  1029,  1032,  1073,  1074,  1091,  1094,  1119,  1202,
              1211,
             ...
             10808, 10838, 10883, 10997, 11133, 11275, 11456, 11646, 11768,
             11954],
            dtype='int64', length=175),
 'MI': Int64Index([ 1062,  1133,  1364,  1561,  1869,  1937,  2033,  2212,  2293,
              2360,
             ...
             11754, 11776, 11790, 11804, 11812, 11867, 11914, 11955, 11956,
             11972],
            dtype='int64', length=294),
 'MN': Int64Index([ 2866,  3241,  3267,  3308,  3478,  3760,  3823,  4017,  4057,
              4058,
             ...
             11589, 11672, 11744, 11834, 11869, 11899, 11917, 11935, 11942,
             11965],
            dtype='int64', length=160),
 'MO': Int64Index([  627,   712,  1174,  1236,  1266,  1419,  1470,  1577,  1665,
              1849,
             ...
             11342, 11363, 11376, 11396, 11485, 11601, 11651, 11668, 11721,
             11885],
            dtype='int64', length=333),
 'MS': Int64Index([  256,   260,   743,   842,   994,  1163,  1232,  1283,  1291,
              1397,
             ...
             11139, 11200, 11330, 11498, 11507, 11543, 11610, 11797, 11873,
             11906],
            dtype='int64', length=155),
 'MT': Int64Index([ 3756,  3941,  4094,  5033,  5342,  5536,  5537,  5581,  5968,
              6086,  6188,  6295,  6308,  6316,  6529,  6662,  6967,  7252,
              7344,  7615,  7642,  8113,  8167,  8231,  8298,  8387,  8458,
              8587,  8713,  8820,  8850,  9026,  9113,  9410,  9493,  9511,
              9618, 10037, 10080, 10156, 10261, 10282, 10473, 10683, 10939,
             11164, 11250, 11284, 11700, 11731, 11793, 11864],
            dtype='int64'),
 'NC': Int64Index([   13,    17,    30,    47,    53,    67,    79,    80,    81,
                98,
             ...
             11693, 11694, 11708, 11729, 11736, 11766, 11795, 11819, 11943,
             11974],
            dtype='int64', length=354),
 'ND': Int64Index([ 5384,  5479,  5835,  6446,  6491,  6701,  6802,  6863,  6875,
              6921,  7189,  7318,  7340,  7346,  7399,  7603,  7767,  8072,
              8134,  8363,  8428,  8693,  9022,  9186,  9251,  9297,  9430,
              9534,  9578,  9630,  9854,  9868,  9950, 10065, 10153, 10386,
             10555, 10810, 10995, 11407, 11593, 11640, 11657, 11944],
            dtype='int64'),
 'NE': Int64Index([ 2954,  3068,  3209,  3362,  3627,  3860,  3895,  4048,  4136,
              4193,
             ...
             11130, 11173, 11225, 11348, 11366, 11435, 11645, 11780, 11796,
             11857],
            dtype='int64', length=127),
 'NH': Int64Index([   99,   120,   134,   180,   184,   209,   214,   223,   255,
               273,
             ...
             11166, 11210, 11387, 11398, 11414, 11563, 11656, 11805, 11855,
             11964],
            dtype='int64', length=181),
 'NJ': Int64Index([    7,    23,    28,    58,    59,    62,    64,    71,   118,
               135,
             ...
             11723, 11728, 11732, 11761, 11777, 11825, 11901, 11913, 11915,
             11957],
            dtype='int64', length=359),
 'NM': Int64Index([ 2885,  3420,  3595,  3672,  3814,  3942,  4118,  4649,  4763,
              5030,  5035,  5790,  6246,  6483,  6882,  6900,  6999,  7040,
              7380,  7429,  7447,  7540,  7621,  7709,  7895,  7928,  7946,
              8027,  8070,  8899,  9155,  9265,  9491,  9551,  9638,  9782,
              9983, 10012, 10026, 10057, 10164, 10454, 10533, 10785, 11203,
             11204, 11208, 11333, 11358, 11522, 11611, 11639, 11882, 11918],
            dtype='int64'),
 'NV': Int64Index([ 3510,  3664,  3698,  3797,  3872,  3966,  4285,  4506,  4681,
              4712,  4837,  4969,  5353,  5544,  6099,  6261,  6614,  6738,
              6960,  7001,  7225,  7357,  7390,  7428,  7743,  7898,  8060,
              8466,  8855,  8945,  8971,  8975,  9190,  9346,  9434,  9467,
              9524, 10040, 10106, 10290, 10402, 10616, 10640, 10672, 11004,
             11097, 11160, 11412, 11472, 11508, 11658, 11810, 11828, 11858,
             11937, 11966],
            dtype='int64'),
 'NY': Int64Index([    9,    26,    32,    42,    46,    73,    90,    91,    92,
                97,
             ...
             11794, 11826, 11827, 11833, 11843, 11872, 11894, 11962, 11967,
             11968],
            dtype='int64', length=1461),
 'OH': Int64Index([  226,   254,   326,   443,   453,   462,   475,   523,   589,
               671,
             ...
             11605, 11616, 11653, 11686, 11687, 11707, 11712, 11799, 11871,
             11922],
            dtype='int64', length=674),
 'OK': Int64Index([ 5601,  6060,  6314,  6669,  6759,  7094,  7146,  7182,  7224,
              7431,  7471,  7477,  7502,  7504,  7544,  7566,  7572,  7575,
              7635,  7643,  7775,  7803,  7809,  7879,  8012,  8037,  8121,
              8127,  8311,  8330,  8334,  8338,  8370,  8429,  8554,  8567,
              8608,  8658,  8742,  8799,  8822,  8878,  8919,  8923,  8967,
              9006,  9058,  9066,  9141,  9177,  9185,  9233,  9292,  9368,
              9373,  9670,  9731,  9808,  9850,  9885,  9924,  9997, 10022,
             10109, 10130, 10193, 10201, 10260, 10304, 10309, 10342, 10447,
             10540, 10730, 10875, 10898, 11016, 11057, 11082, 11095, 11263,
             11311, 11339, 11340, 11350, 11422, 11555, 11663, 11711, 11753,
             11876, 11958],
            dtype='int64'),
 'OL': Int64Index([404, 503], dtype='int64'),
 'OR': Int64Index([ 2728,  3398,  3442,  3453,  3474,  3577,  3581,  3583,  3603,
              3658,  3734,  3787,  3817,  3858,  4030,  4139,  4315,  4390,
              4465,  4467,  4599,  4679,  4780,  4794,  4999,  5409,  5969,
              6170,  6347,  6349,  6439,  6498,  6548,  6557,  6623,  6635,
              6769,  7076,  7077,  7175,  7392,  7614,  7656,  7760,  7861,
              7907,  7992,  8073,  8139,  8331,  8365,  8425,  8555,  8622,
              8625,  8673,  8817,  8913,  9023,  9223,  9374,  9393,  9481,
              9489,  9514,  9673,  9691,  9692,  9715,  9851,  9853, 10213,
             10226, 10296, 10494, 10546, 10750, 10853, 10870, 10912, 11040,
             11064, 11099, 11107, 11181, 11212, 11383, 11484, 11633],
            dtype='int64'),
 'PA': Int64Index([    4,    19,    21,    27,    38,    57,    69,    76,    84,
                88,
             ...
             11842, 11866, 11875, 11877, 11887, 11891, 11932, 11945, 11959,
             11973],
            dtype='int64', length=1053),
 'PI': Int64Index([6835, 6939, 7185, 7233, 7516, 7555, 7961, 8349, 8414, 8434, 8593,
             8881, 9046],
            dtype='int64'),
 'PR': Int64Index([ 6426,  6811,  7235,  8106,  8195,  8675,  8927,  9034,  9810,
             10016, 10126, 10310, 10660, 10885, 10903, 11206, 11343, 11476,
             11841],
            dtype='int64'),
 'RI': Int64Index([   61,   105,   161,   195,   215,   252,   284,   322,   336,
               355,
             ...
             10289, 10482, 10795, 10850, 10960, 11050, 11100, 11270, 11287,
             11568],
            dtype='int64', length=107),
 'SC': Int64Index([    2,    15,    31,    37,    50,    72,    87,   111,   131,
               145,
             ...
             11251, 11334, 11529, 11537, 11565, 11606, 11720, 11863, 11903,
             11947],
            dtype='int64', length=251),
 'SD': Int64Index([ 5423,  5462,  5591,  5609,  5798,  5993,  5995,  6101,  6104,
              6106,  6454,  6671,  6679,  6710,  6758,  7021,  7089,  7200,
              7293,  7435,  7500,  7801,  8082,  8154,  8238,  8346,  8485,
              8491,  8511,  8553,  8624,  8863,  8993,  9207,  9508,  9541,
              9781, 10014, 10039, 10084, 10190, 10214, 10354, 10554, 10638,
             10962, 11238, 11369, 11561, 11738, 11916],
            dtype='int64'),
 'TN': Int64Index([  141,   142,   198,   350,   378,   457,   496,   517,   518,
               596,
             ...
             11423, 11465, 11546, 11556, 11608, 11613, 11821, 11883, 11889,
             11898],
            dtype='int64', length=299),
 'TX': Int64Index([ 2568,  2671,  2814,  2857,  2864,  2966,  3016,  3058,  3084,
              3186,
             ...
             11874, 11888, 11895, 11904, 11907, 11911, 11919, 11931, 11933,
             11946],
            dtype='int64', length=256),
 'UT': Int64Index([ 3484,  3647,  4137,  4816,  5564,  5882,  6039,  6040,  6135,
              6333,  6982,  7065,  7196,  7463,  7510,  7908,  7996,  8087,
              8172,  8448,  8809,  9041,  9065,  9304,  9328,  9453,  9458,
              9549,  9641,  9754,  9928, 10038, 10041, 10154, 10167, 10338,
             10519, 10679, 10740, 10775, 10841, 10957, 11076, 11143, 11161,
             11235, 11303, 11393, 11460, 11764, 11865, 11884, 11960],
            dtype='int64'),
 'VA': Int64Index([    1,    11,    18,    29,    52,    74,    78,    85,    95,
               100,
             ...
             11771, 11783, 11824, 11832, 11845, 11902, 11948, 11961, 11969,
             11970],
            dtype='int64', length=432),
 'VI': Int64Index([10496, 11088, 11116, 11752], dtype='int64'),
 'VT': Int64Index([   41,    86,   106,   128,   156,   269,   325,   373,   400,
               411,
             ...
              8725,  9275,  9413,  9667,  9948, 10034, 10253, 10696, 10855,
             11308],
            dtype='int64', length=115),
 'WA': Int64Index([ 2979,  3052,  3450,  3623,  3720,  3832,  4119,  4303,  4613,
              4961,  5344,  5357,  5651,  5925,  5951,  6032,  6100,  6155,
              6210,  6403,  6590,  6761,  6822,  6990,  7020,  7039,  7198,
              7335,  7351,  7761,  7881,  7949,  8005,  8130,  8145,  8152,
              8219,  8247,  8439,  8450,  8473,  8488,  8637,  8722,  8776,
              8794,  8837,  8977,  8980,  9051,  9082,  9143,  9174,  9353,
              9569,  9665,  9739,  9828,  9874,  9876,  9883, 10072, 10170,
             10236, 10336, 10352, 10409, 10434, 10517, 10665, 10674, 10689,
             10757, 10762, 10784, 10882, 10947, 10949, 11022, 11041, 11081,
             11083, 11121, 11155, 11211, 11222, 11260, 11360, 11378, 11528,
             11628, 11674, 11760, 11836, 11921],
            dtype='int64'),
 'WI': Int64Index([ 2410,  2503,  2592,  2605,  2633,  2789,  2790,  2942,  2985,
              3081,
             ...
             11278, 11371, 11409, 11413, 11566, 11590, 11642, 11774, 11844,
             11930],
            dtype='int64', length=196),
 'WV': Int64Index([ 3615,  3690,  3751,  3785,  3786,  3849,  3854,  3881,  3930,
              3959,
             ...
             10629, 10645, 10982, 11271, 11459, 11584, 11623, 11742, 11775,
             11880],
            dtype='int64', length=120),
 'WY': Int64Index([ 4009,  4138,  4511,  4572,  4718,  5054,  5533,  5726,  6128,
              6895,  7620,  7831,  7925,  7988,  8038,  8052,  8280,  8545,
              8604,  8674,  8801,  8931,  9242,  9394,  9468,  9470,  9685,
              9722,  9783,  9998, 10098, 10159, 10235, 10449, 10811, 10860,
             10978, 11464, 11518, 11835],
            dtype='int64')}

In [43]:
by_state.groups["PA"]

Int64Index([    4,    19,    21,    27,    38,    57,    69,    76,    84,
               88,
            ...
            11842, 11866, 11875, 11877, 11887, 11891, 11932, 11945, 11959,
            11973],
           dtype='int64', length=1053)

This is virtually equivalent to using .loc[]. You could get the same output with something like df.loc[df["state"] == "PA"]

In [42]:
by_state.get_group("PA")

      last_name first_name   birthday gender type state                party
4        Clymer     George 1739-03-16      M  rep    PA                  NaN
19       Maclay    William 1737-07-20      M  sen    PA  Anti-Administration
21       Morris     Robert 1734-01-20      M  sen    PA   Pro-Administration
27      Wynkoop      Henry 1737-03-02      M  rep    PA                  NaN
38       Jacobs     Israel 1726-06-09      M  rep    PA                  NaN
...         ...        ...        ...    ...  ...   ...                  ...
11891     Brady     Robert 1945-04-07      M  rep    PA             Democrat
11932   Shuster       Bill 1961-01-10      M  rep    PA           Republican
11945   Rothfus      Keith 1962-04-25      M  rep    PA           Republican
11959  Costello       Ryan 1976-09-07      M  rep    PA           Republican
11973    Marino        Tom 1952-08-15      M  rep    PA           Republican

[1053 rows x 7 columns]