In [1]:
import pandas as pd
import numpy as np

In [2]:
demo_df = pd.DataFrame(
    {
        "Integer Feature": [0, 1, 2, 1],
        "Categorical Feature": ["socks", "fox", "socks", "box"],
    }
)

In [3]:
demo_df

   Integer Feature Categorical Feature
0                0               socks
1                1                 fox
2                2               socks
3                1                 box

In [4]:
pd.get_dummies(demo_df)

,Integer Feature,Categorical Feature_box,Categorical Feature_fox,Categorical Feature_socks
0,0,0,0,1
1,1,0,1,0
2,2,0,0,1
3,1,1,0,0

In [5]:
data = pd.DataFrame(
    {
        "x0": [1, 2, 3, 4, 5],
        "x1": [0.01, -0.01, 0.25, -4.1, 0.0],
        "y": [-1.5, 0.0, 3.6, 1.3, -2.0],
    }
)

In [6]:
data["category"] = ["a", "b", "a", "a", "b"]
data["category2"] = ["c", "f", "f", "d", "c"]

In [7]:
data

   x0    x1    y category category2
0   1  0.01 -1.5        a         c
1   2 -0.01  0.0        b         f
2   3  0.25  3.6        a         f
3   4 -4.10  1.3        a         d
4   5  0.00 -2.0        b         c

In [8]:
cols = ["x0", "category2"]

In [9]:
data_for_ohe = pd.get_dummies(data[cols])

In [10]:
data_for_ohe

   x0  category2_c  category2_d  category2_f
0   1            1            0            0
1   2            0            0            1
2   3            0            0            1
3   4            0            1            0
4   5            1            0            0

In [11]:
data_with_dummies = data.drop(cols, axis=1).join(data_for_ohe)

In [12]:
data_with_dummies

     x1    y category  x0  category2_c  category2_d  category2_f
0  0.01 -1.5        a   1            1            0            0
1 -0.01  0.0        b   2            0            0            1
2  0.25  3.6        a   3            0            0            1
3 -4.10  1.3        a   4            0            1            0
4  0.00 -2.0        b   5            1            0            0