In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(0)

In [3]:
sr = pd.Series(np.random.randint(-1, 3, 30), index=range(1, 31))

In [4]:
sr

1    -1
2     2
3     0
4    -1
5     2
6     2
7     2
8     2
9     0
10    2
11    0
12    1
13   -1
14    2
15    1
16   -1
17   -1
18   -1
19    1
20    0
21    1
22    2
23    2
24    1
25   -1
26    0
27    0
28    0
29    0
30   -1
dtype: int64

In [5]:
sr.groupby(sr)

In [6]:
gb = sr.groupby(sr)

In [7]:
pieces = dict(list(gb))

In [8]:
pieces

{-1: 1    -1
 4    -1
 13   -1
 16   -1
 17   -1
 18   -1
 25   -1
 30   -1
 dtype: int64,
 0: 3     0
 9     0
 11    0
 20    0
 26    0
 27    0
 28    0
 29    0
 dtype: int64,
 1: 12    1
 15    1
 19    1
 21    1
 24    1
 dtype: int64,
 2: 2     2
 5     2
 6     2
 7     2
 8     2
 10    2
 14    2
 22    2
 23    2
 dtype: int64}

In [9]:
dict(list(gb))

{-1: 1    -1
 4    -1
 13   -1
 16   -1
 17   -1
 18   -1
 25   -1
 30   -1
 dtype: int64,
 0: 3     0
 9     0
 11    0
 20    0
 26    0
 27    0
 28    0
 29    0
 dtype: int64,
 1: 12    1
 15    1
 19    1
 21    1
 24    1
 dtype: int64,
 2: 2     2
 5     2
 6     2
 7     2
 8     2
 10    2
 14    2
 22    2
 23    2
 dtype: int64}

In [10]:
list(gb.groups[-1])

[1, 4, 13, 16, 17, 18, 25, 30]

In [11]:
{x: list(gb.groups[x]) for x in gb.groups}

{-1: [1, 4, 13, 16, 17, 18, 25, 30],
 0: [3, 9, 11, 20, 26, 27, 28, 29],
 1: [12, 15, 19, 21, 24],
 2: [2, 5, 6, 7, 8, 10, 14, 22, 23]}

## Dataframe

In [12]:
df = pd.DataFrame(np.random.randint(-1, 3, 30), index=range(1, 31), columns=["label"])

In [13]:
df

    label
1       0
2      -1
3       2
4      -1
5       2
6       0
7       1
8       2
9       2
10     -1
11      1
12      2
13     -1
14      0
15      2
16      0
17      2
18      2
19      1
20      2
21     -1
22      0
23      0
24      0
25      2
26     -1
27      2
28      1
29     -1
30      2

In [14]:
df.groupby("label")

In [15]:
gb = df.groupby(["label"])

In [16]:
gb.size()

label
-1     7
 0     7
 1     4
 2    12
dtype: int64

In [17]:
list(gb.groups[-1])

[2, 4, 10, 13, 21, 26, 29]

In [18]:
{x: list(gb.groups[x]) for x in gb.groups}

{-1: [2, 4, 10, 13, 21, 26, 29],
 0: [1, 6, 14, 16, 22, 23, 24],
 1: [7, 11, 19, 28],
 2: [3, 5, 8, 9, 12, 15, 17, 18, 20, 25, 27, 30]}