#  Connect to Sqlite

In [1]:
import sqlite3
from sqlite3 import Error

In [2]:
def create_connection(db_file):
    """create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)

    return None

In [3]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    cur.execute("SELECT * FROM COMPANY")

    rows = cur.fetchall()

    for row in rows:
        print(row)

In [4]:
def select_task_by_priority(conn, priority):
    """
    Query tasks by priority
    :param conn: the Connection object
    :param priority:
    :return:
    """
    cur = conn.cursor()
    cur.execute("SELECT * FROM COMPANY WHERE ID=?", (priority,))

    rows = cur.fetchall()

    for row in rows:
        print(row)

In [6]:
database = "test.db"

# create a database connection
conn = create_connection(database)
with conn:
    print("1. Query task by priority:")
    select_task_by_priority(conn, 1)

    print("2. Query all tasks")
    select_all_tasks(conn)

1. Query task by priority:
(1, 'Paul', 32, 'California', 25000.0)
2. Query all tasks
(1, 'Paul', 32, 'California', 25000.0)
(3, 'Teddy', 23, 'Norway', 20000.0)
(4, 'Mark', 25, 'Rich-Mond ', 65000.0)

### Connect To Database

In [10]:
conn = sqlite3.connect("test_2.db")

### Create a Table

In [11]:
conn.execute(
    """CREATE TABLE COMPANY
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);"""
)

In [12]:
conn.close()

### INSERT Operation

In [13]:
conn = sqlite3.connect("test_2.db")

In [14]:
conn.execute(
    "INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )"
)

conn.execute(
    "INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )"
)

conn.execute(
    "INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )"
)

conn.execute(
    "INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )"
);

In [15]:
conn.commit()

In [16]:
conn.close()

### SELECT Operation

In [17]:
conn = sqlite3.connect("test_2.db")

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("SALARY = ", row[3], "\n")


conn.close()

ID =  1
NAME =  Paul
ADDRESS =  California
SALARY =  20000.0

ID =  2
NAME =  Allen
ADDRESS =  Texas
SALARY =  15000.0

ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000.0

ID =  4
NAME =  Mark
ADDRESS =  Rich-Mond
SALARY =  65000.0

### UPDATE Operation

In [18]:
conn = sqlite3.connect("test.db")

conn.execute("UPDATE COMPANY set SALARY = 25000.00 where ID = 1")
conn.commit()

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("SALARY = ", row[3], "\n")

conn.close()

ID =  1
NAME =  Paul
ADDRESS =  California
SALARY =  25000.0

ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000.0

ID =  4
NAME =  Mark
ADDRESS =  Rich-Mond
SALARY =  65000.0

### DELETE Operation

In [19]:
conn = sqlite3.connect("test_2.db")


conn.execute("DELETE from COMPANY where ID = 2;")
conn.commit()


cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("SALARY = ", row[3], "\n")


conn.close()

ID =  1
NAME =  Paul
ADDRESS =  California
SALARY =  20000.0

ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000.0

ID =  4
NAME =  Mark
ADDRESS =  Rich-Mond
SALARY =  65000.0

### Another Example

### Connecting SQLite to the Database

In [20]:
# Create a database in RAM
db = sqlite3.connect(":memory:")
# Creates or opens a file called mydb with a SQLite3 DB
db = sqlite3.connect("data/mydb")

In [21]:
db.close()

### Creating (CREATE) and Deleting (DROP) Tables

In [24]:
db = sqlite3.connect("data/mydb")

In [25]:
# Get a cursor object
cursor = db.cursor()
cursor.execute(
    """
    CREATE TABLE users(id INTEGER PRIMARY KEY, name TEXT,
                       phone TEXT, email TEXT unique, password TEXT)
"""
)
db.commit()

In [26]:
# Get a cursor object
cursor = db.cursor()
cursor.execute("""DROP TABLE users""")
db.commit()

### Inserting (INSERT) Data into the Database

In [27]:
db = sqlite3.connect("data/mydb")

In [28]:
cursor = db.cursor()
cursor.execute(
    """
    CREATE TABLE users(id INTEGER PRIMARY KEY, name TEXT,
                       phone TEXT, email TEXT unique, password TEXT)
"""
)
db.commit()

In [29]:
cursor = db.cursor()
name1 = "Andres"
phone1 = "3366858"
email1 = "user@example.com"
# A very secure password
password1 = "12345"

name2 = "John"
phone2 = "5557241"
email2 = "johndoe@example.com"
password2 = "abcdef"

# Insert user 1
cursor.execute(
    """INSERT INTO users(name, phone, email, password)
                  VALUES(?,?,?,?)""",
    (name1, phone1, email1, password1),
)


# cursor.execute('''INSERT INTO users(name, phone, email, password)
#                 VALUES(:name,:phone, :email, :password)''',
#                  {'name':name1, 'phone':phone1, 'email':email1, 'password':password1})
#
#
print("First user inserted")

First user inserted

In [30]:
# Insert user 2
cursor.execute(
    """INSERT INTO users(name, phone, email, password)
                  VALUES(?,?,?,?)""",
    (name2, phone2, email2, password2),
)
print("Second user inserted")

db.commit()

Second user inserted

If you need to insert several users use executemany and a list with the tuples:

```python
users = [
    (name1, phone1, email1, password1),
    (name2, phone2, email2, password2),
]
cursor.executemany(
    """ INSERT INTO users(name, phone, email, password) VALUES(?,?,?,?)""", users
)
db.commit()
```

If you need to get the id of the row you just inserted use lastrowid:

In [31]:
id = cursor.lastrowid
print("Last row id: %d" % id)

Last row id: 2

### Retrieving Data (SELECT) with SQLite

In [32]:
cursor.execute("""SELECT name, email, phone FROM users""")
user1 = cursor.fetchone()  # retrieve the first row
print(user1[0])  # Print the first column retrieved(user's name)
all_rows = cursor.fetchall()
for row in all_rows:
    # row[0] returns the first column in the query (name), row[1] returns email column.
    print("{0} : {1}, {2}".format(row[0], row[1], row[2]))

Andres
John : johndoe@example.com, 5557241

The cursor object works as an iterator, invoking fetchall() automatically:

In [33]:
cursor.execute("""SELECT name, email, phone FROM users""")
for row in cursor:
    # row[0] returns the first column in the query (name), row[1] returns email column.
    print("{0} : {1}, {2}".format(row[0], row[1], row[2]))

Andres : user@example.com, 3366858
John : johndoe@example.com, 5557241

To retrive data with conditions, use again the "?" placeholder:

In [34]:
user_id = 3
cursor.execute("""SELECT name, email, phone FROM users WHERE id=?""", (user_id,))
user = cursor.fetchone()

In [35]:
print(user1[0])

Andres

### Updating (UPDATE) and Deleting (DELETE) Data

In [36]:
# Update user with id 1
newphone = "3113093164"
userid = 1
cursor.execute("""UPDATE users SET phone = ? WHERE id = ? """, (newphone, userid))

# Delete user with id 2
delete_userid = 2
cursor.execute("""DELETE FROM users WHERE id = ? """, (delete_userid,))

db.commit()

### SQLite Database Exceptions

In [37]:
import sqlite3  # Import the SQLite3 module

try:
    # Creates or opens a file called mydb with a SQLite3 DB
    db = sqlite3.connect("data/mydb")
    # Get a cursor object
    cursor = db.cursor()
    # Check if table users does not exist and create it
    cursor.execute(
        """CREATE TABLE IF NOT EXISTS
                      users(id INTEGER PRIMARY KEY, name TEXT, phone TEXT, email TEXT unique, password TEXT)"""
    )
    # Commit the change
    db.commit()
# Catch the exception
except Exception as e:
    # Roll back any change if something goes wrong
    db.rollback()
    raise e
finally:
    # Close the db connection
    db.close()

The row factory class sqlite3.Row is used to access the columns of a query by name instead of by index:

In [38]:
db = sqlite3.connect("data/mydb")
db.row_factory = sqlite3.Row
cursor = db.cursor()
cursor.execute("""SELECT name, email, phone FROM users""")
for row in cursor:
    # row['name'] returns the name column in the query, row['email'] returns email column.
    print("{0} : {1}, {2}".format(row["name"], row["email"], row["phone"]))
db.close()

Andres : user@example.com, 3113093164

## Reference:
https://www.pythoncentral.io/introduction-to-sqlite-in-python/